<ion-tabs>

  <ion-tab-bar slot="bottom" class="modern-tab-bar" [hidden]="hideTabBar()">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Studio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>{{ 'tabs.history' | t }}</ion-label>
    </ion-tab-button>

    @if (auth.token) {
      <ion-tab-button tab="profile" href="/tabs/profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{ 'tabs.profile' | t }}</ion-label>
      </ion-tab-button>
    }

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'tabs.settings' | t }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
